<html>
    <form #saveUser="ngForm" (ngSubmit)="onSubmit(saveUser)">
        <img src="../../../assets/img/laliguilla.png" class="imagen">
        <h1 class="texto1">Crear Usuario</h1><br>
        <p class="texto2">Nombre</p>
        <input [(ngModel)]="user.name" name="name" type="text" placeholder="Ingrese su nombre"><br><br>
        <p class="texto2">Apellido</p>
        <input [(ngModel)]="user.lastname" name="lastname" type="text" placeholder="Ingrese su Apellido"><br><br>
        <p class="texto2">Username</p>
        <input [(ngModel)]="user.username" name="username" type="text" placeholder="Ingrese su Username"><br><br>
        <p class="texto2">Password</p>
        <input [(ngModel)]="user.password" name="password" type="password" placeholder="Ingrese su contraseña"><br><br>
        <p class="texto2">Email</p>
        <input [(ngModel)]="user.email" name="email" type="email" placeholder="example@gmail.com"><br><br>
        <p class="texto2">Role</p>
        <select [(ngModel)]="user.role" name="role" id="selectRol">
            <option *ngFor="let option of optionsRol" [value]="option">{{option}}</option>
        </select><br><br>
        <button type="submit" class="btn btn-primary boton">Crear Cuenta</button><hr>
    </form>
</html>
