<div class="division1">
    <br><br><br><br><br><br>
    <h1 class="texto2">Bienvenido </h1>
    <h1 class="texto2">{{user.username}}</h1>
    <br><br><br><p>.</p>
</div><br>
<h1 class="texto1">¿A donde deseas ir?</h1><hr><br>
<div class="division2">
    <img src="../../../assets/img/users.png"><hr>
    <p class="texto5">Ver usuarios</p><hr>
    <button class="btn btn-primary" routerLink="/listUsers">Ver usuarios</button><br><br>
</div>
<div class="division2">
    <img src="../../../assets/img/add.png"><hr>
    <p class="texto5">Agregar usuarios</p><hr>
    <button class="btn btn-primary" routerLink="/saveUser">Agregar usuarios</button><br><br>
</div>
<div class="division2">
    <img src="../../../assets/img/ligas.png"><hr>
    <p class="texto5">Ver ligas</p><hr>
    <button class="btn btn-primary" routerLink="/misLigas">Ver todas mis ligas</button><br><br>
</div>
<div class="division2">
    <img src="../../../assets/img/usuario.png"><hr>
    <p class="texto5">Mi perfil</p><hr>
    <button class="btn btn-primary" routerLink="/user">Ir a mi perfil</button><br><br>
</div>



