<div class="division1">
    <br><br><br><br><br><br>
    <h1 class="texto2">Usuarios</h1>
    <h1 class="texto2">Registrados</h1>
    <br><br><br><p>.</p>
</div><br>


<div id="cards">
    <div class="card myWidth text-white bg-secondary" *ngFor="let users of users">
        <div class="card-body">
            <img src="../../../assets/img/usuario.png"><br>
            <h5 class="card-title">{{users.name}} || {{users.lastname}}</h5><hr>
            <h5 class="card-title">Username: {{users.username}}</h5><hr>
            <h5 class="card-title">Role: {{users.role}}</h5><hr>
            <h5 class="card-title">Email: {{users.email}}</h5><hr>
            <button *ngIf="users.role != 'ROLE_ADMIN'" class="btn btn-success" (click)="obetenerData(users)">Editar usuario</button>
            <button *ngIf="users.role != 'ROLE_ADMIN'" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#borrar" (click)="obetenerData(users)">Eliminar usuario</button>
        </div>
    </div>
</div>

<!-- MODAL PARA ELIMINAR CUENTA -->
<div class="modal fade" id="borrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Peligro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>¿Seguro que quieres eliminar a {{userSelected.username}}?</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="borrarData()">Close</button>
          <button type="button" data-bs-dismiss="modal" class="btn btn-danger">Eliminar</button>
        </div>
      </div>
    </div>
  </div>