<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="titulo">
        <br>
        <br>
        <h1>Agregar Liga</h1>
    </div>
    <br>
    <br>
    <br>
    <form class="form-signin" (ngSubmit)="onSubmit(saveLiga)" #saveLiga="ngForm">
        <label for="inputName">Nombre</label>
        <input [(ngModel)]="liga.name" name="name" #name="ngModel" class="form-control" id="inputName" type="text" placeholder="name" required>
        <label for="inputName">Descripción</label>
        <input [(ngModel)]="liga.descripcion" name="descripcion" #name="ngModel" class="form-control" id="inputDescripcion" type="text" placeholder="Descripcion" required>
        <br>
        <input type="submit" value="Guardar" class="btn btn-primary" [disabled]="!saveLiga.form.valid" id="boton">
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</body>
