<div class="titulo">
    <br>
    <br>
    <h1>{{ligaSelected.name}}</h1>
    <p>{{ligaSelected.descripcion}}</p>
</div>

<form>
    <fieldset disabled>
      <legend>Número de equipos</legend>
      <div class="mb-3">
        <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ligaSelected.teamCount}} Equipos">
      </div>
    </fieldset>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" type="button" routerLink="/addTeam">Agregar Equipo</button>
      <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#agregarMarcador">Agregar Marcador</button>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal">
        Subir imagen para liga
      </button>
    </div>
</form>

<br>
<br>

<div id="cards" style="width: 18rem;" *ngFor="let teams of teams">
  <div class="card myClass">
    <img *ngIf="teams.logo == null" src="../../../assets/img/imagen-equipo.jpg" class="card-img-top" alt="...">
    <img *ngIf="teams.logo" height="170px" class="card-img-top" src="{{uri+'getImageT/'+teams.logo}}" alt="Imagen de Equipo">
    <div class="card-body">
      <h5 class="card-title">{{teams.name}}</h5>
      <p class="card-text">{{teams.country}}</p>
      <p class="card-text">Puntos de Equipo: {{teams.puntos}}</p>
      <a href="**" class="btn btn-primary" (click)="obtenerData(teams)" data-bs-toggle="modal" data-bs-target="#editarTeam">Editar</a>
      <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalEquipo" (click)="obtenerData(teams)">Subir imagen</a>
    </div>
  </div>
</div>

<!-- MODAL PARA SUBIR IMAGEN PARA LIGA -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">League image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Elije tu imagen</h3>
        <form #formUpload="ngForm">
          <label for="inputImage"></label>
          <input type="file" name="image" id="inputImage" (change)="fileChange($event)" required>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="uploadImage()">Upload</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA SUBIR IMAGEN PARA EQUIPO -->
<div class="modal fade" id="modalEquipo" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Team image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Elije tu imagen para el equipo</h3>
        <form #formUpload="ngForm">
          <label for="inputImage"></label>
          <input type="file" name="image" id="inputImage" (change)="fileChange2($event)" required>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="uploadImageTeam()">Upload</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA Agregar marcador -->

<div class="modal fade" id="agregarMarcador" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Marcador</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <select name="equipo1" id="equipoSelect1" [(ngModel)]="marcador.equipo1">
          <option value="{{teams._id}}"  *ngFor="let teams of teams" >{{teams.name}}</option>
        </select>
        <br>
        <td><input [(ngModel)]="marcador.goles1" class="form-control" name="goles1" id="goles1" type="number" placeholder="Goles"></td>
        <br>
        <select name="equipo2" id="equipoSelect2" [(ngModel)]="marcador.equipo2">
          <option  value="{{teams._id}}"  *ngFor="let teams of teams" >{{teams.name}}</option>
          <br>
        </select>
        <td><input [(ngModel)]="marcador.goles2" class="form-control" name="goles2" id="goles2" type="number" placeholder="Goles"></td>
        <td><input  [(ngModel)]="marcador.jornada" class="form-control" name="jornada" id="jornada" type="number" placeholder="Jornada"></td>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="saveMarcador()">Agregar Marcador :D</button>
      </div>
    </div>
  </div>
</div>

<!--Modal editar equipo-->
<div class="modal fade" id="editarTeam" tabindex="-1" aria-labelledby="editarTeamLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarTeamLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <label for="inputName">Nombre</label>
          <input [(ngModel)]="team.name" name="name" #name="ngModel" class="form-control" id="inputName" type="text" placeholder="name" required>
          <label for="inputCountry">Descripción</label>
          <input [(ngModel)]="team.country" name="country" #country="ngModel" class="form-control" id="inputCountry" type="text" placeholder="country" required>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="updateTeam()" data-bs-dismiss="modal">Actualizar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="removeTeam()">Eliminar</button>
      </div>
    </div>
  </div>
</div>