.titulo{
    text-align: center;
}

#cards{
    margin: 1rem;
    display: inline-block;
    margin: 1.5rem;
}

.modal-body{
    background-image: url("../../../assets/img/fondo10.png");
    display: grid;
    grid-template-columns: 35% 30% 35%;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.modal-header{
    background-color: #31b3ff;
    grid-template-columns: 33% 33% 33%;
}

.modal-footer-marcador{
    grid-template-columns: 20% 20% 20% 20% 20%;
    
    text-align: right;
    
}

select{
    height: 65%;
}

option{
    width: 50%;
}


form{
    align-content: center;
}