<div class="titulo">
    <br>
    <br>
    <h1>{{ligaSelected.name}}</h1>
    <p>{{ligaSelected.descripcion}}</p>
</div>

<form>
    <fieldset disabled>
      <legend>Número de equipos</legend>
      <div class="mb-3">
        <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ligaSelected.teamCount}} Equipos">
      </div>
    </fieldset>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" type="button" routerLink="/addTeam">Agregar Equipo</button>
      <button class="btn btn-secondary" type="button">Agregar Marcador</button>
      <button class="btn btn-success" type="button">Editar Liga</button>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal">
        Subir imagen para liga
      </button>
    </div>
</form>

<br>
<br>

<div class="card" style="width: 18rem;" *ngFor="let teams of teams">
    <img src="../../../assets/img/imagen-equipo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{teams.name}}</h5>
      <p class="card-text">{{teams.country}}</p>
      <a href="**" class="btn btn-primary">Go somewhere</a>
      <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalEquipo" (click)="obtenerData(teams)">Subir imagen</a>
    </div>
</div>

<!-- MODAL PARA SUBIR IMAGEN PARA LIGA -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">League image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Elije tu imagen</h3>
        <form #formUpload="ngForm">
          <label for="inputImage"></label>
          <input type="file" name="image" id="inputImage" (change)="fileChange($event)" required>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="uploadImage()">Upload</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA SUBIR IMAGEN PARA EQUIPO -->
<div class="modal fade" id="modalEquipo" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Team image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Elije tu imagen para el equipo</h3>
        <form #formUpload="ngForm">
          <label for="inputImage"></label>
          <input type="file" name="image" id="inputImage" (change)="fileChange($event)" required>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="uploadImage()">Upload</button>
      </div>
    </div>
  </div>
</div>
