html{
    background-image: url('../../../assets/img/stadio.jpg');
    background-size: cover;
}

.texto1{
    font-size: 50px;
    text-align: center;
    font-family: cursive;
    -webkit-text-stroke: 2px black;
    color: white;
}

.texto3{
    color: black;
    text-align: center;
    font-size: 30px;
    font-family:Georgia;
}

.formulario{
    background-color: white;
    margin-left:400px;
    margin-right: 400px;
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: 50px;
    border-style:unset
}

img{
    margin-left: 110px;
}

.texto2{
    font-size: 30px;
}

.input{
    border-radius: 50px;
    height: 40px;
    width: 550px;
    padding-left: 30px;
    border-color: skyblue;
    font-size: 15px;
}

.boton{
    border-radius: 50px;
    height: 40px;
    width: 150px;
    margin-left: 20px;
}