<html>
<br>
<h1 class="texto1">Crear Equipo</h1>
<hr>
<div class="formulario">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../../assets/img/imagen-equipo.jpg" class="myClass" alt="Team Icon" />
      </div>
  
      <!-- Login Form -->
      <form (ngSubmit)="onSubmit()" #saveTeam="ngForm" class="form-signin">
        <p class="texto2">Nombre del equipo</p>
        <input [(ngModel)]="team.name" type="text" id="name" class="input" name="name" placeholder="Nombre" required><br>
        <p class="texto2">Pais del equipo</p>
        <input [(ngModel)]="team.country" type="text" id="country" class="input" name="country" placeholder="País" required><br><br>
        <input type="submit" class="fadeIn fourth boton" value="Save team" class="btn btn-success boton">
        <input type="button" class="btn btn-danger boton" value="Cancelar" routerLink="/administrarLiga"><br><br>
      </form>
  
    </div>
  </div>
  <h2 class="texto3">&copy;Grupo #2</h2>
</html>  
